body {
  background-image: url("../IMG/fond-ecran_tablette_05.jpg");
  background-size: cover;
}

#principale {
  color: #EC6400;
  background-color:black;
  opacity: 0.9;
  text-align: center;
  border: solid 2px #EC6400;
  height: 600px;
}

#droite {
  font-size: 30px;
  color: #EC6400;
  float: right;
  height: 518px;
  width: 615px;
  border: solid 1px #EC6400;
}

#gauche {
  font-size:25px;
  color: #EC6400;
  height: 518px;
  width: 662px;
  border: solid 1px #EC6400;
}

label {
  font-size: 30px;
}
